<div
  *ngIf="isOpen"
  (click)="close()"
  class="fixed inset-0 h-full w-full z-0"></div>
<div
  class="
    absolute
    right-0
    w-full
    md:max-w-screen-sm md:w-screen
    mt-2
    origin-top-right
    z-10
  "
  [class.hidden]="!isOpen">
  <div
    class="px-2 pt-2 pb-4 bg-white rounded-md shadow-lg dark-mode:bg-gray-700">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <a
        class="
          flex flex
          row
          items-start
          rounded-lg
          bg-transparent
          p-2
          dark-mode:hover:bg-gray-600
          dark-mode:focus:bg-gray-600
          dark-mode:focus:text-white
          dark-mode:hover:text-white
          dark-mode:text-gray-200
          hover:text-gray-900
          focus:text-gray-900
          hover:bg-gray-200
          focus:bg-gray-200 focus:outline-none focus:shadow-outline
        "
        href="https://tradeup.ninja"
        target="_blank">
        <div class="bg-purple-500 text-white rounded-lg p-3">
          <svg
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            class="md:h-6 md:w-6 h-4 w-4">
            <path
              d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z"></path>
          </svg>
        </div>
        <div class="ml-3">
          <p class="font-semibold">Tradeup Ninja</p>
          <p class="text-sm">Free website to search for profitable trade ups</p>
        </div>
      </a>

      <a
        class="
          flex flex
          row
          items-start
          rounded-lg
          bg-transparent
          p-2
          dark-mode:hover:bg-gray-600
          dark-mode:focus:bg-gray-600
          dark-mode:focus:text-white
          dark-mode:hover:text-white
          dark-mode:text-gray-200
          hover:text-gray-900
          focus:text-gray-900
          hover:bg-gray-200
          focus:bg-gray-200 focus:outline-none focus:shadow-outline
        "
        href="https://discord.gg/csgomarket"
        target="_blank">
        <div class="bg-purple-500 text-white rounded-lg p-3">
          <svg
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            class="md:h-6 md:w-6 h-4 w-4">
            <path
              d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"></path>
          </svg>
        </div>
        <div class="ml-3">
          <p class="font-semibold">CSGO Market Forum Discord</p>
          <p class="text-sm">Discord server related to investing</p>
        </div>
      </a>
    </div>
  </div>
</div>
