<div id="page-wrapper">
  <h3
    class="title uppercase text-xl mb-3 mx-auto text-center font-semibold pt-0 tracking-widest text-gray-900 rounded-lg dark-mode:text-white focus:outline-none focus:shadow-outline">
    Buy order planner
  </h3>

  <ng-container *ngIf="itemInfo || isManualAdding; else goToSCMListingTmpl">
    <form
      class="w-100 bg-white px-4 pt-4"
      [formGroup]="boForm"
      (ngSubmit)="save()">
      <div class="mb-4">
        <label
          for="itemName"
          class="block text-gray-500 font-medium text-sm mb-2"
          >Full item name</label
        >
        <input
          [ngClass]="{
            'ring-2 ring-red-600':
              boForm.get('itemName').touched && boForm.get('itemName').invalid
          }"
          formControlName="itemName"
          (focus)="clearSuccessMessage()"
          autofocus
          name="itemName"
          type="text"
          placeholder="Enter item name"
          class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" />
      </div>

      <div class="grid grid-cols-2 gap-4">
        <div>
          <label
            for="boPrice"
            class="block text-gray-500 font-medium text-sm mb-2"
            >Price</label
          >
          <input
            [ngClass]="{
              'ring-2 ring-red-600':
                boForm.get('price').touched && boForm.get('price').invalid
            }"
            formControlName="price"
            name="boPrice"
            type="number"
            min="0"
            step="0.01"
            placeholder="Buy order price"
            class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" />
        </div>
        <div>
          <label
            for="boAmount"
            class="block text-gray-500 font-medium text-sm mb-2"
            >Amount to buy</label
          >
          <input
            [ngClass]="{
              'ring-2 ring-red-600':
                boForm.get('amount').touched && boForm.get('amount').invalid
            }"
            formControlName="amount"
            name="boAmount"
            type="number"
            min="1"
            step="1"
            placeholder="Amount to buy"
            class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" />
        </div>
      </div>

      <div class="grid grid-cols-2 gap-4 mt-4" *ngIf="isManualAdding">
        <div>
          <label
            for="appId"
            class="block text-gray-500 font-medium text-sm mb-2"
            >App ID</label
          >
          <input
            [ngClass]="{
              'ring-2 ring-red-600':
                boForm.get('appId').touched && boForm.get('appId').invalid
            }"
            formControlName="appId"
            name="appId"
            type="number"
            min="0"
            step="1"
            placeholder="Game app ID"
            class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" />
        </div>
        <div>
          <label
            for="currency"
            class="block text-gray-500 font-medium text-sm mb-2"
            >Currency</label
          >
          <div class="flex justify-center">
            <div class="w-full">
              <select
                [ngClass]="{
                  'ring-2 ring-red-600':
                    boForm.get('currencyId').touched &&
                    boForm.get('currencyId').invalid
                }"
                formControlName="currencyId"
                class="form-select appearance-none bg-gray-200 border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
                aria-label="Currency select">
                <option
                  *ngFor="let currency of currencies"
                  [value]="currency.currencyId">
                  {{ currency.code }}
                  <span *ngIf="currency.symbol">({{ currency.symbol }})</span>
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="">
        <button
          [disabled]="boForm.invalid"
          [ngClass]="{ 'opacity-50 cursor-not-allowed': boForm.invalid }"
          type="submit"
          class="w-3/5 block mx-auto shadow transition duration-300 ease-in-out bg-purple-800 hover:bg-purple-900 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded mt-4">
          Save
        </button>
      </div>
    </form>

    <div
      class="m-4 mt-0 pt-8"
      *ngIf="
        !isManualAdding &&
        (!itemInfo?.activeBOPrice || !itemInfo?.activeBOAmount)
      ">
      <button
        (click)="openPlaceBuyOrderWindow()"
        type="button"
        class="w-full block mx-auto shadow transition duration-300 ease-in-out bg-green-500 hover:bg-green-600 focus:shadow-outline focus:outline-none text-white font-bold text-xl py-2 px-4 rounded mb-4">
        PLACE BUY ORDER
      </button>
    </div>

    <div
      *ngIf="itemInfo?.activeBOPrice && itemInfo?.activeBOAmount"
      class="bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700 p-4 mt-6 mb-3"
      role="alert">
      <div class="flex justify-between font-bold text-sm">
        <p>Active buy order</p>
        <p>
          {{ itemInfo?.activeBOAmount }} x {{ itemInfo?.activeBOPriceString }}
        </p>
      </div>
      <p>You already have an active buy order for this item.</p>
    </div>
    <div
      *ngIf="isManualAdding && isManualSuccess"
      class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4 mt-6 mb-3"
      role="alert">
      <div class="flex justify-between font-bold text-md">
        <p>Item was added</p>
      </div>
    </div>
    <div
      *ngIf="error"
      class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mt-6 mb-3"
      role="alert">
      <div class="flex justify-between font-bold text-md">
        <p>{{ error }}</p>
      </div>
    </div>
  </ng-container>

  <ng-template #goToSCMListingTmpl>
    <div
      class="bg-green-50 border-t-4 border-green-400 rounded-b text-green-600 px-4 py-3 shadow-md"
      role="alert">
      <div class="flex">
        <div class="py-1">
          <svg
            class="fill-current h-6 w-6 text-green-400 mr-4"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20">
            <path
              d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93
              17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9
              11V9h2v6H9v-4zm0-6h2v2H9V5z" />
          </svg>
        </div>
        <div class="flex items-center">
          <p class="font-bold text-sm">
            This extension works only on SCM listing page.
          </p>
        </div>
      </div>
    </div>

    <div class="w-full mb-5">
      <button
        (click)="goToSCM()"
        type="button"
        rel="nofollow"
        class="w-3/5 block text-center mx-auto shadow transition duration-300 ease-in-out bg-yellow-600 hover:bg-yellow-700 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded mt-4">
        Go to market page
      </button>
    </div>

    <div class="relative flex items-center">
      <div class="flex-grow border-t border-gray-400"></div>
      <span class="flex-shrink mx-4">OR</span>
      <div class="flex-grow border-t border-gray-400"></div>
    </div>

    <div class="w-full mb-5">
      <button
        (click)="openManualAdd()"
        type="button"
        rel="nofollow"
        class="w-3/5 block text-center mx-auto shadow transition duration-300 ease-in-out bg-green-500 hover:bg-green-600 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded mt-4">
        Manually add item information
      </button>
    </div>
  </ng-template>

  <p class="mb-2" *ngIf="itemInfo?.updated">
    Last update: {{ itemInfo.updated | date: 'medium' }}
  </p>

  <div
    class="bg-blue-100 border-l-4 border-blue-500 text-blue-700 p-4 mt-6 mb-3"
    role="alert">
    <div class="flex justify-between">
      <div>
        <p class="font-bold text-sm">Place buy order on all pages</p>
        <p>
          This action will open "Place Buy Order" window on all opened SCM
          pages.
        </p>
      </div>
      <button
        (click)="openPlaceBuyOrderWindowOnAllTabs()"
        type="button"
        class="ml-10 shadow transition duration-300 ease-in-out bg-blue-700 hover:bg-blue-900 focus:shadow-outline focus:outline-none text-white font-bold text-sm py-2 px-4 rounded">
        OPEN
      </button>
    </div>
  </div>

  <div class="flex justify-between items-center w-full">
    <button
      type="button"
      class="flex text-black hover:text-blue-900 duration-200 background-transparent font-bold uppercase px-0 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="mr-1"
        viewBox="0 0 16 16">
        <path
          d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47
            7.59.4.07.55-.17.55-.38
            0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01
            1.08.58 1.23.82.72 1.21 1.87.87
            2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95
            0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21
            2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82
            2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87
            3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0
            .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
      </svg>
      <a
        href="https://github.com/6matko/bo-planner"
        target="_blank"
        class="hover:text-blue-900 duration-200"
        rel="noreferrer nofollow">
        Github
      </a>
    </button>
    <small
      >by
      <a
        href="https://steamcommunity.com/id/6matko/"
        target="_blank"
        rel="noreferrer nofollow"
        class="hover:text-blue-900 duration-200"
        >6matko</a
      ></small
    >
    <button
      (click)="goToPlannedList()"
      type="button"
      class="text-blue-500 hover:text-blue-900 duration-200 background-transparent font-bold uppercase px-0 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all">
      View all items
    </button>
  </div>
</div>
